ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
li{
    display: block;
    margin: 0 0 10px;
}
.jumbotron{
    height:50vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
.picture{
    overflow: hidden;
}
.jumbotron p{
    font-size: 14px;
}
.loading{
    text-align: center;
}
.container{
    padding-top: 20px;
}